nav {
    position: fixed !important;
    width: 100%;
}
#main-bg {
    background-image: url("/assets/images/main-bg.jpg");
    background-size: cover;
    height: 100vh;
    padding: 50px;
    padding-top: 70px;
    margin: 0
}
#main-bg > div {
    background-color: #fff4;
    width: 100%;
    height: 100%;
    padding: 50px;
}
